In [95]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import pymongo
import os
import pandas as pd

In [2]:
news_url="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [49]:
response1 = requests.get(news_url)
soup1 = bs(response1.text, 'lxml')

In [51]:
results1 = soup1.body.find("div", class_="slide")

In [69]:
news_title=results1.find('div',class_='content_title').text
news_p=results1.find('div',class_="rollover_description_inner").text
print(news_title,news_p)

NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network


Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.

In [55]:
image_url='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
base_image_url='https://www.jpl.nasa.gov'

In [48]:
response2 = requests.get(image_url)
soup2 = bs(response2.text, 'lxml')

In [65]:
featured_image= soup2.body.find("article", class_="carousel_item")['style']
print(featured_image)

background-image: url('/spaceimages/images/wallpaper/PIA17011-1920x1200.jpg');

In [68]:
featured_image=featured_image.replace("background-image: url('","")
featured_image=featured_image.replace("');","")
featured_image_url=base_image_url+featured_image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17011-1920x1200.jpg

In [70]:
weather_url='https://twitter.com/marswxreport?lang=en'

In [71]:
response3 = requests.get(weather_url)
soup3 = bs(response3.text, 'lxml')

In [92]:
tweet=soup3.body.find("li", {"data-item-type": "tweet"})
tweet_text_box = tweet.find("p", {"class": "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text"})
images_in_tweet_tag = tweet_text_box.find_all("a", {"class": "twitter-timeline-link u-hidden"})
tweet_text = tweet_text_box.text
for image_in_tweet_tag in images_in_tweet_tag:
    mars_weather = tweet_text.replace(image_in_tweet_tag.text, '')
print(mars_weather)

InSight sol 442 (2020-02-23) low -94.1ºC (-137.3ºF) high -10.5ºC (13.0ºF)
winds from the SSE at 6.2 m/s (13.8 mph) gusting to 21.1 m/s (47.3 mph)
pressure at 6.30 hPa

In [93]:
fact_url='https://space-facts.com/mars/'

In [100]:
tables=pd.read_html(fact_url)
df=tables[0]

In [102]:
df.rename(columns={ df.columns[0]: "Description" }, inplace = True)
df.rename(columns={ df.columns[1]: "Value" }, inplace = True)
df.set_index('Description',inplace=True)
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [105]:
html_table=df.to_html
df.to_html('table.html')

In [110]:
hemisphere_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
base_hemisohere_url='https://astrogeology.usgs.gov/'

In [107]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [109]:
browser.visit(hemisphere_url)

In [126]:
# title=[]
# img_url=[]
hemisphere_image_urls=[]
html=browser.html
soup=BeautifulSoup(html,'html.parser')
descriptions=soup.find_all('div',class_='item')
descriptions
for description in descriptions:
    title=description.find('h3').text.replace(' Enhanced','')
    img_url=description.find('img',class_='thumb')['src']
    list={
        'title':title,
        'img_url':base_hemisohere_url+img_url
    }
    hemisphere_image_urls.append(list)
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere', 'img_url': 'https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'https://astrogeology.usgs.gov//cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png'}]